@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Suez+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html{
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: Trebuchet MS, Helvetica;
}

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #FFDEAD;
  cursor: pointer;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez one', serif;
}

@media (min-width: 701px) {
  #logo{
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo{
    margin-top: 15
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%;
  }
}


#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #CD5C5C}


#about > a:hover {color: #FFDEAD; text-decoration: underline;}

#about > a:not(:last-child){
  margin-right: 7%;
}

.fixed {
  z-index: 5000;
  background-color: #000;
}

header.fixed #logo {
  color: #CD5C5C;
}

.fixed #about a {color: #FFDEAD}
.fixed #about a:hover {color: #CD5C5C}

#top {
  width: 100%;
  height: 100%;
  background-image: url(..//resourses//main.jpg);
  background-blend-mode: multiply;
  background-color: #2e3a44
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

@media (min-width: 1001px) {
    #top{
      font-size: 3em;
    }
}


@media (max-width: 1000px) and (min-width: 651px){
    #top{
      font-size: 2em;
    }
}

@media (max-width:650px){
    #top{
      font-size: 1em;
      padding-top: 50%;
    }
}

@media (max-width:300px){
    #top{
      font-size: 1em;
      padding-top: 50%;
    }
}

#top h1 {
  padding-top: 10%;
  padding-left: 34%;
}
#top h3 {
  padding-left: 34%;
}


#main{
  float: left;
  background-color: #99FFCC;
  border-top: 2x solid silver;
  color: #484848;
  font-size: 1.5em;

}

@media (min-width: 1401px) {
  #main {
    padding: 100px 20%;
    width: 60%;
  }
}

@media (max-width: 1400px) {
  #main {
    padding: 100px 10%;
    width: 80%;
  }
}
@media (max-width: 700px) {
  #main div{
    width: 98%!important;
    margin-bottom: 20px;
  }
}

#main div{
  width: 48%;
  margin-right: 2%;
  float: left;
}

#main h2 {
  font-size: 3.2em;
  color: #000033;
}

#main span {
  color: #000033;
}

#main .img {
  float: left;
  width: 32%;
  margin-right: 10%;
  margin-top: 20px;
}

#overview {
  float: left;

  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;

  padding: 10px 0;
  width: 100%;
  text-align:center;
  color: #fff;
}

#main img {
  background: #fafafa;
  padding: 5px;
  border: 2px solid silver;
  border-color: grey;
  float: left;
  width: 100%;
  max-width: 500px;
}

#image {
  color: #fff;
}

#overview h1 {
  color: #ccc;
}

#overview  a {color: #FFDEAD;}
#overview a:hover{color: #CD5C5C;}


h1, h2, h3, h4, h5{
  font-family: 'Comic Neue', cursive;
  font-weight: lighter;
}
